# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Mobile Tools for Java (J2ME)
.mtj.tmp/

.idea/
target/
.vscode/
.lh/
*.iml
hs_err_pid*
node_modules/
dist/
package-lock.json
.DS_Store
.stylelintcache
# SpecStory explanation file
#.specstory/.what-is-this.md

# 前端资源
core/core-backend/src/main/resources/static/